#Contact{
    background-color: rgb(31,32,62);
    position: relative;
    height: 900px ;
    width: 94vw;
    top: 280px;
    left: 30px;
    z-index:4;
}

.name{
    position: absolute;
    top: 455px;
    right: 310px;
}
.email{
    position: absolute;
    top: 500px;
    right: 314px;
}
.message{
    position: absolute;
    top: 550px;
    right: 290px;
}
.contact-portrait2{
    position: absolute;
    top: 350px;
    right: 50px;
}