
#Footer{
    background-color: rgb(31,32,62);
    height: auto;
    justify-content: flex-end;
}
.footer_portrait{
    position: absolute;
    top: 100px;
    right: 250px;
    background-color: rgb(31,32,62);
}

