#Projects{
    background-image: linear-gradient(120deg,#4a4a4e,#1F203E);
    position: relative;
    height: 1100px ;
    width: 94vw;
    top: 230px;
    left: 30px;
    z-index:4;
}

.project-portrait{
    position: absolute;
    top: 215px;
    right: 230px;
}
.assignment-portrait{
    /*bottom: 4000px;*/
    position: absolute;
    right: 225px;
    top: 400px;
}

.project_line{
    border-left: 5px solid white;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 200px;
}
.project-rec{

    position: absolute;
    width: 370px;
    height: 350px;
    left: 800px;
    top: 400px;
    bottom: 100px;
    background: #494141;
    border-radius: 40px;

}

.caseBasic{
    color: white;
}

.basic{
    position: absolute;
    left: 70px;
    top: 450px;
    color: white;
    font-size: 15px;
}

.transition{
    position: absolute;
    left: 70px;
    top: 500px;
    color: white;
    font-size: 15px;
}

.animation{
    position: absolute;
    left: 70px;
    top: 550px;
    color: white;
    font-size: 15px;
}

.assignment{
    position: absolute;
    left: 0;
    top: 350px;
    color: yellow;
    font-size: 25px;
}