#Skills {
    background-image: linear-gradient(120deg,#4a4a4e,#1F203E);
    position: relative;
    top: 140px;
    margin-top: 5px;
    width: 94vw;
    left: 30px;
    height: 650px;
}
.java{
    position: absolute;
    right: 1048px;
    top: 200px;
}
.figma{

    position: absolute;
    right: 650px;
    top: 200px;

}

.javafx{

    position: absolute;
    right: 250px;
    top: 200px;

}

.mysql{
    position:absolute;
    right: 1048px;
    top: 410px;
}
.intellij{

    position: absolute;
    right: 650px;
    top: 410px;

}

.hibernate{
    position: absolute;
    right: 250px;
    top: 410px;
}
.skills_container{
    margin-left: 8%;
    margin-top: 5%;
}

.Skills_rec{

    position: relative;
    width: 180px;
    height: 175px;
    left: 100px;
    top: 35px;
    bottom: 40px;
    background: #1C5270;

}
.Skills_rec1{
    position: absolute;
    width: 180px;
    height: 175px;
    left: 500px;
    top: 192px;
    bottom: 40px;
    background: #1C5270;
}

.Skills_rec2{
    position: absolute;
    width: 180px;
    height: 175px;
    left: 900px;
    top: 192px;
    bottom: 40px;
    background: #1C5270;
}

.Skills_rec3{
    position: relative;
    width: 180px;
    height: 175px;
    left: 100px;
    top: 70px;
    bottom: 40px;
    background: #1C5270;
}

.Skills_rec4{
    position: absolute;
    width: 180px;
    height: 175px;
    left: 500px;
    top: 400px;
    bottom: 40px;
    background: #1C5270;
}

.Skills_rec5{
    position: absolute;
    width: 180px;
    height: 175px;
    left: 900px;
    top: 400px;
    bottom: 40px;
    background: #1C5270;
}