main{
    background-color: rgb(3,13,28);
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.navbar{
    position: absolute;
    top: 0;
    left: 800px;
    width: 100%;
    height: 20px;
    margin: auto;
    justify-content: flex-end;
    z-index: 1;
    background-color: rgb(31,32,62);
}

body{
    z-index: 0;
}

.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    display: inline;
}
ul {
    height: 100%;
    /*overflow: hidden;*/
}
nav ul li{
    padding:20px 20px;
    display: inline-block;
    list-style-type: none;
    height: 100%;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
nav ul li a:hover{
    color: deeppink;
}

/*home section styling*/
.Home{
    display: flex;
    background-color: rgb(31,32,62);
    width: 100%;
    height: 100vh;
}
.container{
    margin-left: 8%;
    margin-top: 13%;
}
.container2{
    margin-left: 8%;
    margin-top: 5%;
}

h1{
    font-size: 50px;
    font-family: Kaisei Opti;
    margin-bottom: 5px;
    padding: 25px;
}

h3{
    font-size: 15px;
}

h2{
    font-size: 30px;
}
p{
    font-family: Inter;
    font-size: 100%;
    padding: 20px;
}
.my_link{

    bottom: 90px;
    right: 55px;

}

.link-portrait{
    border-radius: 50%;
}

.profile{
    width: 600px;
    height: 200px;
    position: absolute;
    bottom: 55px;
    right: 55px;

}
.home-portrait{

    height: 500px;
    width: 450px;
    position: absolute;
    left: 80%;
    bottom: 50px;
    transform: translateX(-60%);
    transition: bottom 1s,left 1s;
    border-radius: 50%;
}
#About {
    background-color: rgb(31,32,62);
    height: 450px;
    justify-content: flex-end;
}

.about-portrait{
    position: absolute;
    left: 77%;
    bottom:8px;
    transform: translateX(-60%);
    transition: bottom 1s,left 1s;
}

.about-rec{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 800px;
    top: -300px;
    /*bottom: 55px;*/
    background: rgba(47, 41, 41, 0.55);
    border-radius: 40px;

}
.home-para{
    font-size: 20px;
}

#about-desc {
    position: relative;
    margin-right: 70px;
}

#Skills {
    background-color: rgb(31,32,62);
    height: 550px;
}
.java{
    position: absolute;
    right: 1000px;
}
.figma{

    position: absolute;
    right: 650px;

}

.javafx{

    position: absolute;
    right: 250px;

}

.mysql{
    bottom: 1000px;
    right: 1000px;
}

#Education {
    background-color: rgb(31,32,62);
    height: auto;
    justify-content: flex-end;
}

.education{

    position: absolute;
    right: 650px;
    border-radius: 50%;

}

.education2{
    border-radius: 50%;

}

#Projects{
    background-color: rgb(31,32,62);
    height: auto;
    justify-content: flex-end;
}

.project-portrait{
    position: absolute;
    top: 2300px;
    right: 250px;
}
.assignment-portrait{
    bottom: 5000px;
}

#Contact{
    background-color: rgb(31,32,62);
    height: auto;
    justify-content: flex-end;
}

.name{
    position: absolute;
    top: 3150px;
    right: 610px;
}
.email{
    position: absolute;
    top: 3200px;
    right: 610px;
}
.message{
    position: absolute;
    top: 3250px;
    right: 590px;
}
.contact-portrait2{
    position: absolute;
    top: 3000px;
    right: 350px;
}

#Footer{
    background-color: rgb(31,32,62);
    /*height: auto;*/
    /*justify-content: flex-end;*/
}
.footer_portrait{
    position: absolute;
    right: 650px;
    background-color: rgb(31,32,62);
}