main{
    background-color: rgb(3,13,28);
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.navbar{
    position: absolute;
    top: 0;
    left: 1000px;
    width: 100%;
    height: 20px;
    margin: auto;
    justify-content: flex-end;
    z-index: 1;
}
body{
    z-index: 0;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    display: inline;
}
ul {
    height: 100%;
    /*overflow: hidden;*/
}
nav ul li{
    padding:20px 20px;
    display: inline-block;
    list-style-type: none;
    height: 100%;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover{
    color: deeppink;
}
/*home section styling*/
.Home{
    display: flex;
    background-color: rgb(31,32,62);
    width: 100%;
    height: 100vh;
}
.container{
    margin-left: 8%;
    margin-top: 13%;
}
.container2{
    margin-left: 8%;
    margin-top: 5%;
}

h1{
    font-size: 50px;
    font-family: Kaisei Opti;
    margin-bottom: 20px;
    padding: 20px;
}

h3{
    font-size: 15px;
}

h2{
    font-size: 30px;
}
p{
    font-family: Inter;
    font-size: 100%;
    padding: 20px;
}
.my_link{

    bottom: 90px;
    right: 55px;

}

.link-portrait{
    border-radius: 50%;
}

.profile{
    width: 700px;
    height: 200px;
    position: absolute;
    bottom: 90px;
    right: 55px;

}
.home-portrait{

    height: 500px;
    width: 455px;
    position: absolute;
    left: 80%;
    bottom: 15px;
    transform: translateX(-60%);
    transition: bottom 1s,left 1s;
    border-radius: 50%;
}
#About {
    background-color: rgb(31,32,62);
    height: 450px;
    justify-content: flex-end;
}

.about-portrait{
    position: absolute;
    left: 115%;
    bottom:190px;
    transform: translateX(-60%);
    transition: bottom 1s,left 1s;

}
.home-para{
    font-size: 20px;
}

#about-desc {
    position: relative;
    margin-right: 70px;
}

#Skills {
    background-color: rgb(31,32,62);
    height: auto;
}
.java{
    position: absolute;
    right: 1000px;
}
.figma{

    position: absolute;
    right: 650px;

}

.javafx{

    position: absolute;
    right: 250px;

}

.mysql{
    bottom: 1000px;
    right: 1000px;
}